*::selection {
    color: rgb(248, 108, 180);
    background-color: #a0a0a0;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
    background-color: #000000;
    color: #f9f9f9;
    font-size: 12px;
    font-family: "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    overflow-x: hidden;
}

p {
    margin: 0;
}

a {
    color: rgb(160, 160, 160);
    text-decoration: underline dotted;
}

a:hover,
a:active {
    color: rgb(249, 249, 249);
}

ul {
    list-style-type: none;
    padding: 0;
}

/* header */
header {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    height: 100vh;
}

nav {
    grid-column: 1 / 3;
    height: fit-content;
}

nav img {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0px;
    transition: width 0.2s;
}

nav a:hover+img {
    visibility: visible;
    width: 240px;
}

canvas {
    position: fixed;
    bottom: 0;
    right: 7px;
    width: auto !important;
    height: 46% !important;
    z-index: 100;
}

#render {
    z-index: 99;
    opacity: 0.8;
    filter: grayscale(1);
}

.invisible {
    transition: opacity 1s;
    opacity: 0 !important;
}

@media (min-width: 640px) {}

.intro {
    grid-column: 1 / -1;
}


/* main */
section {
    position: relative;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    margin-bottom: 248px;
    scroll-margin-top: 8px;
}

section>* {
    margin-bottom: 8px;
}

.title {
    position: relative;
    float: left;
    padding-right: 8px;
}

.description {
    position: relative;
    float: left;
    max-width: 720px;
}

.heading {
    grid-column: 1 / -1;
}

.pdf {
    grid-column: 1 / 8;
    height: 280px;
}

object {
    width: 100%;
    height: 100%;
}

.channel {
    width: 100%;
    height: 320px;
    border: none;
    color-scheme: only dark;
    /* FIXME: overscroll contain doesn't work*/
    overflow: auto;
    overscroll-behavior: contain;
}

@media (min-width: 640px) {
    .pdf {
        height: 680px;
    }

    .channel {
        height: 480px;
    }
}

section iframe {
    width: 100%;
    height: 240px;
}

@media (min-width: 640px) {
    section iframe {
        width: 640px;
        height: 360px;
    }
}

@media (min-width: 1280px) {
    section iframe {
        width: 960px;
        height: 540px;
    }
}

section img {
    width: 100%;

}

section img[title] {
    cursor: help;
}

section img[onclick] {
    cursor: zoom-in;
}

#zoomObject {
    grid-column: 1 /-1;
    justify-self: center;
    width: 100%;
    height: 460px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: zoom-in;
}

@media (min-width: 663px) {
    #zoomObject {
        width: 620px;
    }
}

.mosaics {
    grid-column: 1 / 8
}

.mosaics img {
    width: 49%;
}

@media (min-width: 696px) {
    .mosaics img {
        width: 33%;
    }
}

@media (min-width: 1510px) {
    .mosaics {
        grid-column: 1 / 9
    }

    .mosaics img {
        width: 240px;
    }
}

.pano {
    grid-column: 1 / 9;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;
    color-scheme: dark;
    scroll-behavior: smooth;
}

.pano img {
    scroll-snap-align: center;
    scroll-margin-top: 382px;
}

.interface-center {
    grid-column: span 4;
}

@media (min-width: 1520px) {
    .interface-center {
        grid-column: 4 / -4;
        justify-self: center;
        width: 552px;
    }
}

/* footer */
footer {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
}

/* fallback */
@supports (-webkit-appearance: none) {
    section img[onclick] {
        cursor: pointer;
    }
}